<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="DataAccessLayer" />
    <assembly name="BusinessLogicLayer" />
    <namespace name="DataAccessLayer" />
    <namespace name="BusinessLogicLayer" />
    <container>
    </container>
  </unity>
  <connectionStrings>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

<system.serviceModel>
  <services>
    <service name="ServiceLayer.ServiceEmployees"
    behaviorConfiguration="SimpleServiceBehavior">
      <endpoint address="Web"
      binding="basicHttpBinding"
      contract="ServiceLayer.IServiceEmployees" />
    </service>
  </services>
  <behaviors>
    <serviceBehaviors>
      <behavior name="SimpleServiceBehavior">
        <serviceDebug includeExceptionDetailInFaults="true" />
        <serviceMetadata httpGetEnabled="True" policyVersion="Policy15" httpGetUrl="http://localhost:8834/tsi1/Web" />
      </behavior>
    </serviceBehaviors>
  </behaviors>
</system.serviceModel>
  <connectionStrings>
    <add name="PracticoNetEntities" connectionString="metadata=res://*/Model.ModelPractico.csdl|res://*/Model.ModelPractico.ssdl|res://*/Model.ModelPractico.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-SU4VB1V\SQLEXPRESS;initial catalog=PracticoNet;persist security info=True;user id=sa;password=database;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>